<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servicios</servlet-name>
        <servlet-class>Controlador.ServiciosC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Centro</servlet-name>
        <servlet-class>Controlador.Centro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Puesto</servlet-name>
        <servlet-class>Controlador.Puesto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Departamento</servlet-name>
        <servlet-class>Controlador.Departamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarRegistro</servlet-name>
        <servlet-class>Controlador.CargarRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Empleado</servlet-name>
        <servlet-class>Controlador.Empleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Paciente</servlet-name>
        <servlet-class>Controlador.Paciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarLista</servlet-name>
        <servlet-class>Controlador.CargarLista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validaciones</servlet-name>
        <servlet-class>Controlador.Validaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogoEquipo</servlet-name>
        <servlet-class>Controlador.CatalogoEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipoMedico</servlet-name>
        <servlet-class>Controlador.EquipoMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogoSuministro</servlet-name>
        <servlet-class>Controlador.CatalogoSuministro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignarSuministroMedico</servlet-name>
        <servlet-class>Controlador.AsignarSuministroMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuministroMedico</servlet-name>
        <servlet-class>Controlador.SuministroMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proveedor</servlet-name>
        <servlet-class>Controlador.Proveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanRehabilitacion</servlet-name>
        <servlet-class>Controlador.PlanRehabilitacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Medicamento</servlet-name>
        <servlet-class>Controlador.Medicamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Android</servlet-name>
        <servlet-class>Controlador.Android</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reporte</servlet-name>
        <servlet-class>Controlador.Reporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modalidad</servlet-name>
        <servlet-class>Controlador.Modalidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Respaldo</servlet-name>
        <servlet-class>Controlador.Respaldo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servicios</servlet-name>
        <url-pattern>/serviciosc.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Centro</servlet-name>
        <url-pattern>/centro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Puesto</servlet-name>
        <url-pattern>/puesto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Departamento</servlet-name>
        <url-pattern>/departamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarRegistro</servlet-name>
        <url-pattern>/cargaRegistro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Empleado</servlet-name>
        <url-pattern>/empleado.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Paciente</servlet-name>
        <url-pattern>/paciente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarLista</servlet-name>
        <url-pattern>/cargarLista.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validaciones</servlet-name>
        <url-pattern>/validar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogoEquipo</servlet-name>
        <url-pattern>/catalogoequipo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipoMedico</servlet-name>
        <url-pattern>/equipomedico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogoSuministro</servlet-name>
        <url-pattern>/catalogosuministro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignarSuministroMedico</servlet-name>
        <url-pattern>/asignarsuministromedico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuministroMedico</servlet-name>
        <url-pattern>/suministromedico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proveedor</servlet-name>
        <url-pattern>/proveedor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanRehabilitacion</servlet-name>
        <url-pattern>/planrehabilitacion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Medicamento</servlet-name>
        <url-pattern>/medicamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Android</servlet-name>
        <url-pattern>/movil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reporte</servlet-name>
        <url-pattern>/reporte.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modalidad</servlet-name>
        <url-pattern>/modalidad.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Respaldo</servlet-name>
        <url-pattern>/respaldo.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            90
        </session-timeout>
    </session-config>
</web-app>
